@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  background-color: black;
}

body {
  font-family: Verdana, sans-serif;
}
.ImageSlider{
  width: 65%;
  margin: 10px;
  margin-top: 30px; 
}
.showscontainer{
  height: 35rem;
}

